#-e git+https://github.com/google-research/exoplanet-ml.git#egg=exoplanet-ml
absl-py
astor
astropy
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
pydl
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scipy
seaborn
six
termcolor
urllib3
Werkzeug
wrapt

